
[*.{c,c++,cc,cginc,compute,cp,cpp,cu,cuh,cxx,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,mpp,proto,tpp,usf,ush}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,axml,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2

[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_naming_rule.constants_rule.severity=suggestion
dotnet_naming_rule.constants_rule.style=upper_camel_case_style_1
dotnet_naming_rule.constants_rule.symbols=constants_symbols
dotnet_naming_rule.locals_rule.severity=suggestion
dotnet_naming_rule.locals_rule.style=all_lower_style
dotnet_naming_rule.locals_rule.symbols=locals_symbols
dotnet_naming_rule.local_constants_rule.severity=suggestion
dotnet_naming_rule.local_constants_rule.style=all_lower_style
dotnet_naming_rule.local_constants_rule.symbols=local_constants_symbols
dotnet_naming_rule.parameters_rule.severity=suggestion
dotnet_naming_rule.parameters_rule.style=upper_camel_case_style_1
dotnet_naming_rule.parameters_rule.symbols=parameters_symbols
dotnet_naming_rule.private_constants_rule.severity=suggestion
dotnet_naming_rule.private_constants_rule.style=upper_camel_case_style_2
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.severity=suggestion
dotnet_naming_rule.private_instance_fields_rule.style=upper_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols=private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.severity=suggestion
dotnet_naming_rule.private_static_fields_rule.style=upper_camel_case_style_2
dotnet_naming_rule.private_static_fields_rule.symbols=private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.severity=suggestion
dotnet_naming_rule.private_static_readonly_rule.style=upper_camel_case_style_2
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_rule.public_fields_rule.severity=suggestion
dotnet_naming_rule.public_fields_rule.style=upper_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols=public_fields_symbols
dotnet_naming_rule.static_readonly_rule.severity=suggestion
dotnet_naming_rule.static_readonly_rule.style=upper_camel_case_style_1
dotnet_naming_rule.static_readonly_rule.symbols=static_readonly_symbols
dotnet_naming_style.all_lower_style.capitalization=all_lower
dotnet_naming_style.all_lower_style.word_separator=_
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_naming_style.upper_camel_case_style.required_prefix=_
dotnet_naming_style.upper_camel_case_style_1.capitalization=pascal_case
dotnet_naming_style.upper_camel_case_style_2.capitalization=pascal_case
dotnet_naming_style.upper_camel_case_style_2.required_prefix=__
dotnet_naming_symbols.constants_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds=field
dotnet_naming_symbols.constants_symbols.required_modifiers=const
dotnet_naming_symbols.locals_symbols.applicable_accessibilities=*
dotnet_naming_symbols.locals_symbols.applicable_kinds=local
dotnet_naming_symbols.local_constants_symbols.applicable_accessibilities=*
dotnet_naming_symbols.local_constants_symbols.applicable_kinds=local
dotnet_naming_symbols.local_constants_symbols.required_modifiers=const
dotnet_naming_symbols.parameters_symbols.applicable_accessibilities=*
dotnet_naming_symbols.parameters_symbols.applicable_kinds=parameter
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers=static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_align_linq_query=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multline_type_parameter_constrains=true
resharper_apply_auto_detected_rules=false
resharper_csharp_align_multiple_declaration=true
resharper_csharp_max_line_length=160
resharper_csharp_naming_rule.locals=aa_bb, AaBb
resharper_csharp_naming_rule.parameters=AaBb, aa_bb
resharper_csharp_new_line_before_while=true
resharper_csharp_outdent_commas=true
resharper_csharp_outdent_dots=true
resharper_csharp_wrap_after_declaration_lpar=true
resharper_csharp_wrap_after_invocation_lpar=true
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_before_first_type_parameter_constraint=true
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_while_stmt=true
resharper_keep_existing_attribute_arrangement=true
resharper_keep_existing_enum_arrangement=true
resharper_place_attribute_on_same_line=if_owner_is_single_line
resharper_place_simple_accessorholder_on_single_line=true
resharper_place_simple_case_statement_on_same_line=if_owner_is_single_line
resharper_place_simple_enum_on_single_line=true
resharper_place_simple_method_on_single_line=true
resharper_wrap_before_extends_colon=true
resharper_wrap_before_linq_expression=true

# ReSharper inspection severities
resharper_annotate_can_be_null_parameter_highlighting=hint
resharper_annotate_can_be_null_type_member_highlighting=hint
resharper_annotate_not_null_parameter_highlighting=hint
resharper_annotate_not_null_type_member_highlighting=hint
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_assignment_is_fully_discarded_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_class_never_instantiated_global_highlighting=hint
resharper_comment_typo_highlighting=hint
resharper_compare_of_floats_by_equality_operator_highlighting=hint
resharper_condition_is_always_true_or_false_highlighting=hint
resharper_container_annotation_redundancy_highlighting=suggestion
resharper_convert_to_auto_property_highlighting=hint
resharper_for_can_be_converted_to_foreach_highlighting=hint
resharper_identifier_typo_highlighting=hint
resharper_inconsistent_naming_highlighting=hint
resharper_join_null_check_with_usage_when_possible_highlighting=warning
resharper_localizable_element_highlighting=hint
resharper_member_can_be_made_static_local_highlighting=suggestion
resharper_member_can_be_private_global_highlighting=hint
resharper_member_can_be_protected_global_highlighting=hint
resharper_redundant_argument_default_value_highlighting=hint
resharper_redundant_base_qualifier_highlighting=warning
resharper_replace_with_string_is_null_or_empty_highlighting=warning
resharper_simplify_linq_expression_use_all_highlighting=none
resharper_string_literal_typo_highlighting=hint
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint
resharper_unused_auto_property_accessor_global_highlighting=hint
resharper_unused_member_local_highlighting=hint
resharper_use_deconstruction_highlighting=suggestion
resharper_use_negated_pattern_matching_highlighting=warning
resharper_use_null_propagation_when_possible_highlighting=warning
